<!--<div ng-controller="Menus">-->

<button ng-click="saveitems()"  class="btn btn-primary">Speichern</button>
<button ng-click="insertitem()" class="btn btn-primary" >Eintrag hinzuf&uuml;gen</button>&nbsp;&nbsp;

<div>{{speicherung}}</div>

<br><br><br><br>

<ul dnd-list="list.eintrage" dnd-disable-if="list.eintrag.length >= list.max">
    <li ng-repeat="eintrag in list.eintrage" dnd-draggable="eintrag" dnd-moved="list.eintrage.splice($index,1)" dnd-effect-allowed="move">
        <dnd-nodrag>
            <div dnd-handle class="handle">:::</div>
            <div class="name">
                <div class="menueeintrag">
                    <p>
                        <span class="eintragname">{{eintrag.name}}</span>
                        <img ng-click="settings(eintrag.dbid)" src="img/editbtn.png" width="20px" height="20px" style="float:right;" /> &nbsp;
                        <img ng-click="delete(eintrag.dbid,eintrag.name)" src="img/trash.png" width="20px" height="20px" style="float:right;" />
                    </p>
                </div>
            </div>
        </dnd-nodrag>
    </li>
    <li class="dndPlaceholder">
        Packe hier hin!!
    </li>
</ul>
