
<ul dnd-list="list.eintrage"
    dnd-allowed-types="list.allowedTypes"
    dnd-disable-if="lists.eintrag.lenght >= list.max"
>

    <li ng-repeat="eintrag in list.eintrage"
        dnd-draggable="eintrag"
        dnd-type="eintrag.type"
        dnd-disable-if="eintrag.type == 'unknown'"
        dnd-moved="list.eintrage.splice($index,1)"
        dnd-effect-allowed="move"

    >
        <dnd-nodrag>
            <div dnd-handle class="handle">:::</div>
            <div class="name">
                <input type="text" ng-model="eintrag.name" class="form-control">
                <input type="hidden" ng-model="eintrag.dbid" class="form-control">
                <input type="checkbox" ng-model="eintrag.param1"  ng-change="changeBox(eintrag.param1)" ng-checked="isChecked(eintrag.param1)" class="form-control">
                <input type="checkbox" ng-model="eintrag.param2" ng-checked="isChecked(eintrag.param2)" class="form-control">
                <input type="checkbox" ng-model="eintrag.param3" ng-checked="isChecked(eintrag.param3)" class="form-control">
            </div>
        </dnd-nodrag>
    </li>
    <li class="dndPlaceholder">
        Drop any items here
    </li>
</ul>
