<div class="typesDemo row">
    <div ng-controller="MenuList">
        <div>{{loading}}</div>
        <button ng-click="saveitems()" class="btn btn-primary">Speichern</button>

        <div>{{speicherung}}</div>
        <div ng-repeat="list in lists" class="col-md-4">
            <div class="panel-heading">
                <div class="panel panel-info">
                    <h3 class="panel">Menueintrag {{list.label}}</h3>
                    <button type="button" ng-click="insertnewelement(list.label)">Add</button>
                    </div>
            </div>
            <div class="panel-body" ng-include="'views/menus.html'"></div>

        </div>

    </div>
</div>