<div ng-controller="MenuListCaption">
    <button ng-click="saveitems()" class="btn btn-primary">Speichern</button>

    <div id="infobox">Infobox:{{infobox}}</div>
    <div>{{speicherung}}</div>
    <div ng-repeat="list in lists" class="col-md-4">
        <div class="panel-heading">
            <h3 class="panel panel-info">Menueintrag {{list.label}}</h3>
        </div>
        <div class="panel-body" ng-include="'views/menus.html'"></div>

    </div>

    <div class="row">
        <div class="panel-body">
           <!-- <pre class="code">{{modelAsJson}}</pre>-->
        </div>
    </div>
</div>