
<ul dnd-list="list.eintrage"
    dnd-allowed-types="list.allowedTypes"
    dnd-disable-if="lists.eintrag.lenght >= list.max"
>

    <li ng-repeat="eintrag in list.eintrage"
        dnd-draggable="eintrag"
        dnd-type="eintrag.type"
        dnd-disable-if="eintrag.type == 'unknown'"
        dnd-moved="list.eintrage.splice($index,1)"
        dnd-effect-allowed="move"

    >
        <dnd-nodrag>
            <div dnd-handle class="handle">:::</div>
            <div class="name">
                <div id="menueintrag">
                    <p> 
                        <span id="eintragname">{{eintrag.name}}</span>&nbsp;&nbsp;
                        <img ng-click="settings(eintrag.dbid)" src="img/editbtn.png" width="10%" height="10%" style="float:right;"/> &nbsp;
                        <img ng-click="delete(eintrag.dbid,eintrag.name)" src="img/trash.png" width="10%" height="10%" style="float:right;" />
                   </p>
                </div>
                
                <!--<button ng-click="settings(eintrag.dbid)">Bearbeiten</button></h5>-->
                    <!--<div id="einstellung" ng-click="settings(eintrag.dbid)">Bearbeiten</div>-->
            </div>
        </dnd-nodrag>
    </li>
    <li class="dndPlaceholder">
        Packe hier hin!!
    </li>
</ul>
